<% content_for(:title, "Listing Posts") %>

<% @posts.each do |post| %>
	<div class="post-wrapper">
		<div class="post-content">
			<%= post.content  %>
		</div>
		<div class="post-author">
			&mdash; <%= post.author %>
		</div>
	</div>
<% end %>