<% content_for(:title, "Listing Posts") %>

<% @posts.each do |post| %>
	<div class="post-wrapper">
		<div class="post-content">
			<%= post.content  %>
		</div>
		<div class="post-author">
			<% author_object = User.find_by_email(post.author) %>
			&mdash; <%= link_to post.author, user_profile_path(author_object) %>
		</div>
	</div>
<% end %>