<% content_for(:title, "Listing Posts") %>

<% @posts.each do |post| %>
	<div class="post-wrapper">
		<div class="post-content">
			<%= post.content  %>
		</div>
		<div class="post-author">
			<% author = User.find(post.user_id) %>
			&mdash; <%= link_to author.username, user_profile_path(author) %>
		</div>
	</div>
<% end %>