// Place all the styles related to the post controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.post-wrapper {
	border: 1px solid silver;
	border-radius: 3px;
	padding: 5px;
	margin-bottom: 1em;

	.post-content {
		margin-bottom: 5px;
	}
}